body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  padding: 0;
  margin: 0;
  background-color:rgb(13, 29, 29);
}

.logo{
  border: none;
  width: 30%;
}

h1{
  color: white;
  text-align: center;
  margin-right: 35px;
}

h2{
  color: #ffffff;
  text-align: left;
}


.topnav {
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  transition: background-color 0.3s, color 0.3s; 
}


.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: background-color 0.3s, color 0.3s; /* Add transition properties */
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(255, 255, 255);
  color: #000000;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: rgb(13, 29, 29);
  color: rgb(123, 110, 110);
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

img {
  /* border: 3px solid #555; */
  width: 100%;
}

.arrow-left > img,
.arrow-right > img{
  cursor: pointer;
  border: none;
}





.slider-wrapper {
  background: rgb(13, 29, 29);
  padding:0;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;

}

.slider {
  width: 100vw;
}

.slide {
  display: none;
}

.slide.active {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: stretch;
  gap: 3rem;
}

.slide > img {
  width: 25%;
  border-radius: 5px;
}

.arrow-left,
.arrow-right {
  position: absolute;
  width: 50px;
  height: 50px;
  border: none;
  /* background: #ffffff; */
}

.arrow-left {
  left: 10px;
  top: 50%;
  bottom: 50%;
  border: none;
  margin-left: 15px;
  transform: translateY(-50%, -50%);
 
}

.arrow-right {
  right: 10px;
  top: 50%;
  bottom:50%;
  margin-right: 15px;
  border: none;
  /* background-color: #000000; */
  /* transform: translateY(-50%, -50%); */
}


.categories{
  margin-top: 30px;
  background-color: #000000;
  display: flex;
  justify-content: center; 
  align-items: center; /

}

.cat{
font-size: 60px;
margin-left: 20px;
}

.gallery-text{
font-size: 30px;
margin-left: 20px;
}

.text-next-to-categories-container{
 margin: 0px;
 padding: 60px;
}


.buy{
  /* margin-top: 30px; */
  background-color: #fef6f6;
  display: flex;
  justify-content: center; 
  align-items: center; /
}

.buyName{
  color: black;
}

.categoriesImage{
  display: inline-block;
  margin: 0 10px;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 15%;
  border-radius: 5px;
  transition: transform 0.3s;
}

.categoriesImage:hover{
  cursor: pointer;
  transform: scale(1.3);
}


.calendar{
  display: inline-block;
  margin: 0 10px;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 15%;
  border-radius: 5px;
  transition: transform 0.3s;

}

.calendar:hover{
  transform: scale(1.0);
}

.go-to-shop-container {
  background-color: #000000;
  color: #fff; 
  padding: 20px;
  border-radius: 5px;
  cursor: pointer; 
  transition: transform 0.3s, background-color 0.3s;

  
}

.go-to-shop-container:hover{
  transform: scale(1.1);
  background-color: #f40e0e;
}




/* Stye for contac me page */

.image-container-artistinfo{
  display: flex;
  justify-content: center; 
  align-items: center;
  /* background-color: white; */
}


.imageMufa{
  width: 25%;
}

.contacth1{
  font-size: 60px;
  margin-left: 70px; 
  color: white;
  
}



.about-me-section{
  padding: 10%;
  background-color: black;
}

.divider{
  padding: 2%;
}

.about-me-text{
  color: white;
}

.instagramLogo{
border: none;
margin-top: 40px;
margin-bottom: 40px;
/* margin-left: 100px; */
width: 5%;
}

.shot-on-iphone-section{
  padding: 10%;
  background-color: white;
}

.shot-on-iphone-section-text{
  color: black;
}

.shot-on-iphone-section-text2{
  font-size: 12px;
  color: black;
}

.social-media-section{
  cursor: pointer;

display: flex;
justify-content: center; 
align-items: center;
 background-color: black;
}


.bezhajcaSocialMediaLinks{
 text-decoration: none;
 margin-left: 20px;
}


.aa{
  text-decoration: none;
}


/* Contact bezHajca forms */
form{
  border-radius: 10px;
  padding: 20px;

}

.form-group {
  text-align: center; /* Optional: Align the label and input in the center */
  display: block;
  margin-bottom: 15px; /* Optional: Add space between label and input */
}

.form-control {
  font-size: 16px; /* Adjust the text size */
  width: 300px; /* Adjust the width of the input field */
}

.form-section{
  display: flex;
justify-content: center; 
align-items: center;
  
}

nav {
  background-color: #333;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a, .dropbtn {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #111;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #111;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Email and number section in contact */

.email-number-section{
  align-items: center;
  display: flex;
justify-content: center;
  background-color: white;
}

.calling-image{
  border: none;
  width: 15%;
  transition: transform 0.3s;

}

.calling-image:hover{
  cursor: pointer;
  transform: scale(1.3);
}

.contact-box{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.categoriesImage {
  display: block;
  width: 60%;
  height: auto;
  transition: transform 0.5s; /* Transition for scaling effect */
}

.image-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background for text */
  color: #fff; /* White text color */
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.5s; /* Transition for fading effect */
}

.image-container:hover .categoriesImage {
  transform: scale(1.1); /* Scale up the image on hover */
}

.image-container:hover .image-info {
  opacity: 1; /* Show the info text on hover */
}



.gallery {
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* gap: 10px; */
  /* padding-left: 100px;
  padding-top: 50px; */
  justify-content: space-around; /* Horizontal space around the images */
  align-content: space-around; /* Vertical space around the images */
}

.gallery img {

  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(14, 14, 14, 0.1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.gallery img.selected {
  border: 2px solid white;
}

.gallery img:hover {
  transform: scale(1.1);
}

.hearth-counter{
  height: 30px;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #ffffff;
  color: #000000;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.heart-container {
  background-color: white;
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 10px;
  border-radius: 12px;
  display: flex;
  align-items: center;
}

.heart-icon {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
